.form-container{
    display: block;
    margin: 3rem  auto;
    background-color: #568A88;
    width : 30%;
    padding : 2rem 0; 
    border : 1px solid black;
    
}
.f-line{
    display: flex;
    flex-direction: column;
}
.f-label{
    padding : 1rem 2rem 0.2rem 2rem;
    font-size: small;
}
.f-input{
    display: block;
    width : 80%;
    margin : 0 2rem;
    border: 1px solid black;
}
.submit{
    margin : 2rem auto auto 2rem;
}
@media screen and (device-width : 360px){
    .form-container{
        display: block;
        margin: 3rem  auto;
        background-color: #568A88;
        width : 80%;
        padding : 2rem 0; 
        border : 1px solid black;
        
    }
}