.Header{
    display: block;
    color : #568A88;
    margin-top: 2;
    font-family: 'Anton', sans-serif;
}
.h1{
    margin-left: 42%;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .Header{
        display: block;
        color : #568A88;
        margin-top: 2rem;
        font-family: 'Anton', sans-serif;
    }
  .h1{
      margin-left : 35%;
  }
}